<p>place-map works!</p>

<div class="container">
  <form class="row" [formGroup]="mapForm" (ngSubmit)="search()">
    <input class="form-check mb-3" type="text" name="search" id="search" formControlName="search" #inputPlaces>
    <div class="row border" style="height: 400px" #divMap>
    </div>
    <input class="form-check mb-3" type="text" name="street" id="street" formControlName="street">
    <input class="form-check mb-3" type="text" name="number" id="number" formControlName="number">
    <input class="form-check mb-3" type="text" name="reference" id="reference" formControlName="reference">
    <input class="form-check mb-3" type="text" name="postal_code" id="postal_code" formControlName="postal_code">
    <input class="form-check mb-3" type="text" name="city" id="city" formControlName="city">
    <input class="form-check mb-3" type="text" name="region" id="region" formControlName="region">
    <input class="form-check mb-3" type="text" name="country" id="country" formControlName="country">
    <div>
      <button class="btn btn-success" type="submit">Add Place</button>
    </div>
  </form>
</div>
