<div class="row align-items-center justify-content-center g-4 py-4 border-bottom">
  <div class="col-6 col-lg-4">
    <img src="assets/logos/horns.svg" class="d-block w-100 img-fluid mx-lg-auto" alt="Metal Travel Guide" loading="lazy">
  </div>
  <div class="col-lg-6 col-xl-4">
    <h1 class="display-5 fw-bold lh-1 text-center text-md-start mb-3">Discover your next favorite place to bang your head.</h1>
    <p class="lead text-center text-md-start">Metal Travel Guide is a community of metal enthusiasts sharing their favorite bars, clubs & shops from around the world.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-md-center">
      <a routerLink="places/all" class="btn btn-lg btn-success text-uppercase py-3 me-sm-2">Find places</a>
      <a routerLink="places/add" class="btn btn-lg btn-outline-success text-uppercase py-3">Add your favorite places</a>
    </div>
  </div>
  <div class="col-xl-4 text-start" *ngIf="!isConnected">
    <form class="bg-light p-4 p-md-5 border rounded-3" [formGroup]="loginForm" (submit)="login()">
      <div class="form-floating mb-3">
        <input class="form-control" type="email" id="username" name="username" formControlName="username" required />
        <label for="username">E-mail:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="loginForm.controls['username'].hasError('required') && (loginForm.controls['username'].touched || loginForm.controls['username'].dirty)">E-mail is required</div>
        <div class="alert alert-danger p-2 mt-3" *ngIf="loginForm.controls['username'].hasError('maxlength') && (loginForm.controls['username'].touched || loginForm.controls['username'].dirty)">E-mail cannot be more than 255 characters long</div>
        <div class="alert alert-danger p-2 mt-3" *ngIf="loginForm.controls['username'].hasError('email') && (loginForm.controls['username'].touched || loginForm.controls['username'].dirty)">Please enter a valid E-mail</div>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" type="password" id="password" name="password" formControlName="password" required />
        <label for="password">Password:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="loginForm.controls['password'].hasError('required') && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">Password is required</div>
        <div class="alert alert-danger p-2 mt-3" *ngIf="loginForm.controls['password'].hasError('minlength') && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">Password must be at least 8 characters long</div>
        <div class="alert alert-danger p-2 mt-3" *ngIf="loginForm.controls['password'].hasError('maxlength') && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">Password cannot be more than 255 characters long</div>
        <div class="alert alert-danger p-2 mt-3" *ngIf="loginForm.controls['password'].hasError('pattern') && (loginForm.controls['password'].touched || loginForm.controls['password'].dirty)">Password must contain only numbers and letters</div>
      </div>
      <div class="col-12">
        <button class="btn btn-success w-100" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
<div class="row py-3 justify-content-center">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="fs-3">Latest Places added:</h2>
    <a class="btn btn-success" routerLink="places/all">View All</a>
  </div>
  <app-places-list class="row row-cols-1 row-cols-md-2 row-cols-xxl-4 g-3" [places]="Places"></app-places-list>
</div>
