<div class="row justify-content-center">
  <form class="row g-3 col-auto col-md-8 col-lg-6 col-xl-4" [formGroup]="updateForm" (submit)="update()">
    <div class="form-group col-sm-6 mb-3">
      <label class="form-label" for="username">Username:</label>
      <input class="form-control" type="text" id="username" name="username" placeholder="" formControlName="username">
    </div>
    <div class="form-group col-sm-6">
      <label class="form-label" for="mail">Email:</label>
      <input class="form-control" type="email" id="mail" name="mail" placeholder="" formControlName="mail">
    </div>
    <div class="form-group col-sm-6">
      <label class="form-label" for="firstName">First name:</label>
      <input class="form-control" type="text" id="firstName" name="firstName" placeholder="" formControlName="firstName">
    </div>
    <div class="form-group col-sm-6">
      <label class="form-label" for="lastName">Last name:</label>
      <input class="form-control" type="text" id="lastName" name="lastName" placeholder="" formControlName="lastName">
    </div>
    <div class="form-group col-sm-6">
      <label class="form-label" for="password">Password:</label>
      <input class="form-control" type="password" id="password" name="password" placeholder="" formControlName="password">
    </div>
    <div class="form-group col-sm-6">
      <label class="form-label" for="repeatPassword">Repeat password:</label>
      <input class="form-control" type="password" id="repeatPassword" name="repeatPassword" placeholder="" formControlName="repeatPassword">
    </div>
    <div class="form-group col-12">
      <label for="country">Country:</label>
      <select class="form-control" id="country" name="country" formControlName="countryIso">
        <option *ngFor="let country of Countries" [value]="country[0]" [label]="country[1]"></option>
      </select>
    </div>
    <div class="col-12">
      <button class="btn btn-success" type="submit" >Save changes</button>
    </div>
  </form>
</div>

