<div class="row justify-content-center">
  <form class="g-3 col-auto col-md-8 col-lg-6 col-xl-4" [formGroup]="updateForm" (submit)="update()">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" [ngClass]="{'is-invalid': updateForm.get('username')?.invalid && (updateForm.get('username')?.touched || updateForm.get('username')?.dirty), 'is-valid': updateForm.get('username')?.valid && (updateForm.get('username')?.touched || updateForm.get('username')?.dirty) }" id="username" name="username" formControlName="username" required />
      <label for="username">E-mail:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('username')?.hasError('required') && (updateForm.get('username')?.touched || updateForm.get('username')?.dirty)">E-mail is required</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('username')?.hasError('maxlength') && (updateForm.get('username')?.touched || updateForm.get('username')?.dirty)">E-mail cannot be more than 255 characters long</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('username')?.hasError('email') && (updateForm.get('username')?.touched || updateForm.get('username')?.dirty)">Please enter a valid E-mail</div>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" [ngClass]="{'is-invalid': updateForm.get('nickname')?.invalid && (updateForm.get('nickname')?.touched || updateForm.get('nickname')?.dirty), 'is-valid': updateForm.get('nickname')?.valid && (updateForm.get('nickname')?.touched || updateForm.get('nickname')?.dirty)}" id="nickname" name="nickname" formControlName="nickname" />
      <label for="nickname">Nickname:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('nickname')?.hasError('minlength') && (updateForm.get('nickname')?.touched || updateForm.get('nickname')?.dirty)">Nickname must be at least 3 characters long</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('nickname')?.hasError('maxlength') && (updateForm.get('nickname')?.touched || updateForm.get('nickname')?.dirty)">Nickname cannot be more than 255 characters long</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('nickname')?.hasError('pattern') && (updateForm.get('nickname')?.touched || updateForm.get('nickname')?.dirty)">Nickname must contain only numbers and lowercase letters</div>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" [ngClass]="{'is-invalid': updateForm.get('password')?.invalid && (updateForm.get('password')?.touched || updateForm.get('password')?.dirty), 'is-valid': updateForm.get('password')?.valid && (updateForm.get('password')?.touched || updateForm.get('password')?.dirty)}" id="password" name="password" formControlName="password" />
      <label for="password">New password:</label>
      <div>{{updateForm.get('password')?.valid}} {{updateForm.get('password')?.value}}</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('password')?.hasError('required') && (updateForm.get('password')?.touched || updateForm.get('password')?.dirty)">Password is required</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('password')?.hasError('minlength') && (updateForm.get('password')?.touched || updateForm.get('password')?.dirty)">Password must be at least 8 characters long</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('password')?.hasError('maxlength') && (updateForm.get('password')?.touched || updateForm.get('password')?.dirty)">Password cannot be more than 255 characters long</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('password')?.hasError('pattern') && (updateForm.get('password')?.touched || updateForm.get('password')?.dirty)">Password must contain only numbers and letters</div>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" [ngClass]="{'is-invalid': updateForm.get('confirmPassword')?.invalid && (updateForm.get('confirmPassword')?.touched || updateForm.get('confirmPassword')?.dirty), 'is-valid': updateForm.get('confirmPassword')?.valid && (updateForm.get('confirmPassword')?.touched || updateForm.get('confirmPassword')?.dirty)}" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" />
      <label for="confirmPassword">Confirm password:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('confirmPassword')?.invalid && (updateForm.get('confirmPassword')?.touched || updateForm.get('confirmPassword')?.dirty)">Passwords must match</div>
    </div>
    <div class="form-floating mb-3">
      <select class="form-control" [ngClass]="{'is-invalid': updateForm.get('countryIso')?.invalid && (updateForm.get('countryIso')?.touched || updateForm.get('countryIso')?.dirty), 'is-valid': updateForm.get('countryIso')?.valid && (updateForm.get('countryIso')?.touched || updateForm.get('countryIso')?.dirty)}" id="countryIso" name="countryIso" formControlName="countryIso">
        <option selected>Choose a country...</option>
        <option *ngFor="let country of Countries" [value]="country[0]" [label]="country[1]"></option>
      </select>
      <label for="countryIso">Country:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('countryIso')?.invalid && (updateForm.get('countryIso')?.touched || updateForm.get('countryIso')?.dirty)">You must choose a country</div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success">Save changes</button>
    </div>
  </form>
</div>
