<article class="blog-post">
  <h2 class="blog-post-title mb-3 border-bottom">Comments</h2>
  <div class="row border-bottom" *ngFor="let comment of Comments">
    <div class="d-flex justify-content-between">
      <p class="blog-post-meta">Added: {{comment.dateCreated | date: "short"}} by <a routerLink="/users/{{comment.userId}}">{{comment.userId}}</a></p>
      <p><a class="btn" (click)="delete(comment.id!)" *ngIf="userId == comment.userId">Delete <i class="bi bi-x-circle-fill text-danger"></i></a></p>
    </div>
    <p>{{comment.text}}</p>
  </div>
  <form class="mt-3" [formGroup]="commentForm" (submit)="add()" *ngIf="isConnected">
    <div class="form-check mb-3">
      <label class="form-label" for="text">Write your comment:</label>
      <textarea class="form-control" [ngClass]="{'is-invalid': commentForm.get('text')?.invalid && (commentForm.get('text')?.touched || commentForm.get('text')?.dirty), 'is-valid': commentForm.get('text')?.valid && (commentForm.get('text')?.touched || commentForm.get('text')?.dirty)}" id="text" name="text" formControlName="text" style="height:4em" required></textarea>
      <div class="alert alert-danger p-2 mt-3" *ngIf="commentForm.get('text')?.hasError('required') && (commentForm.get('text')?.touched || commentForm.get('text')?.dirty)">Comment can't be empty</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="commentForm.get('text')?.hasError('minlength') && (commentForm.get('text')?.touched || commentForm.get('text')?.dirty)">Comment can't be empty</div>
    </div>
    <div class="form-check">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</article>
