<div class="row justify-content-center">
  <form class="g-3 col-auto col-md-8 col-lg-6 col-xl-4" [formGroup]="registerForm" (submit)="register()">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" [ngClass]="{'is-invalid': registerForm.get('username')?.invalid && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty), 'is-valid': registerForm.get('username')?.valid}" id="username" name="username" formControlName="username" required />
      <label for="username">E-mail:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="registerForm.get('username')?.hasError('required') && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)">E-mail is required</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="registerForm.get('username')?.hasError('maxlength') && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)">E-mail cannot be more than 255 characters long</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="registerForm.get('username')?.hasError('email') && (registerForm.get('username')?.touched || registerForm.get('username')?.dirty)">Please enter a valid E-mail</div>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" [ngClass]="{'is-invalid': registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty), 'is-valid': registerForm.get('password')?.valid}" id="password" name="password" formControlName="password" required />
      <label for="password">Password:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="registerForm.get('password')?.hasError('required') && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">Password is required</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="registerForm.get('password')?.hasError('minlength') && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">Password must be at least 8 characters long</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="registerForm.get('password')?.hasError('maxlength') && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">Password cannot be more than 255 characters long</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="registerForm.get('password')?.hasError('pattern') && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty)">Password must contain only numbers and letters</div>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" [ngClass]="{'is-invalid': registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty), 'is-valid': registerForm.get('confirmPassword')?.valid}" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" required />
      <label for="confirmPassword">Confirm password:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.touched || registerForm.get('confirmPassword')?.dirty)">Passwords must match</div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success">Register</button>
    </div>
  </form>
</div>
