<div class="row justify-content-center">
  <form class="col-12 col-md-10 col-lg-8 col-xl-6" [formGroup]="contactForm" (submit)="contact()">
    <div>
      <p>Do you have any suggestions, questions, complaints then you can send us a message here.</p>
    </div>
    <div class="form-group mb-3">
      <label for="name">Your name:</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="" formControlName="name">
      <div class="alert alert-danger p-2 mt-3" *ngIf="contactForm.get('name')?.hasError('required') && IsClicked">Name is required</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="contactForm.get('name')?.hasError('minlength') && IsClicked">Name must be at least 3 characters long</div>
    </div>
    <div class="form-group mb-3">
      <label for="mail">Your e-mail:</label>
      <input type="email" class="form-control" id="mail" name="mail" placeholder="" formControlName="mail">
      <div class="alert alert-danger p-2 mt-3" *ngIf="contactForm.get('mail')?.hasError('required') && IsClicked">Mail is required</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="contactForm.get('mail')?.hasError('email') && IsClicked">Mail is not valid</div>
    </div>
    <div class="form-group mb-3">
      <label for="message">Your message:</label>
      <textarea class="form-control" id="message" name="message" formControlName="message"></textarea>
      <div class="alert alert-danger p-2 mt-3" *ngIf="contactForm.get('message')?.hasError('required') && IsClicked">Message is required</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="contactForm.get('message')?.hasError('minlength') && IsClicked">Message must be at least 4 characters long</div>
    </div>
    <button type="submit" class="btn btn-success">Send</button>
    <div class="alert alert-success mt-3" role="alert" *ngIf="WasSent">
      Thank you for your comments!
    </div>
  </form>
</div>
