<nav class="navbar navbar-expand-lg navbar-light border-bottom" aria-label="navbar">
  <div class="container">
    <a class="navbar-brand d-inline-flex" href="/">
      <img height="44" src="assets/logos/horns.svg" alt="Logo" />
      <span class="ms-1 fs-2 text-uppercase vengeance align-middle d-sm-none">MTG</span>
      <span class="ms-1 fs-2 text-uppercase vengeance align-middle d-none d-sm-block">Metal Travel Guide</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0 align-items-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="fw-semibold" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="places/all" routerLinkActive="fw-semibold">Places</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="places/add" routerLinkActive="fw-semibold" *ngIf="isConnected">Add Place</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="users/admin" routerLinkActive="fw-semibold" *ngIf="isConnected && isAdmin">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="fw-semibold" *ngIf="!isConnected">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="register" routerLinkActive="fw-semibold" *ngIf="!isConnected">Register</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isConnected">
          <a class="nav-link dropdown-toggle" href="" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="assets/logos/profile-default.png" class="rounded-circle" height="32" alt="My Profile" loading="lazy"/>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <h6 class="dropdown-header fw-bold">Signed in as: {{ Username }}</h6>
            </li>
            <li>
              <a class="dropdown-item" routerLink="profile" routerLinkActive="fw-semibold">My profile</a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
              <a class="dropdown-item" (click)="logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
<!--      <form role="search">-->
<!--        <input class="form-control" type="search" placeholder="Search" aria-label="Search">-->
<!--      </form>-->
    </div>
  </div>
</nav>
