<div class="row justify-content-center">
  <form class="col-12 col-md-10 col-lg-8 col-xl-6 bg-light p-3 p-lg-5 border rounded-3" [formGroup]="updateForm" (submit)="update()">
    <div class="form-floating mb-3">
      <input class="form-control" [ngClass]="{'is-invalid': updateForm.get('name')?.invalid && (updateForm.get('name')?.touched || updateForm.get('name')?.dirty), 'is-valid': updateForm.get('name')?.valid && (updateForm.get('name')?.touched || updateForm.get('name')?.dirty) }" type="text" id="name" name="name" formControlName="name" required>
      <label for="name">Name:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('name')?.hasError('required')">Name is required</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('name')?.hasError('minlength')">Name must be at least 2 characters long</div>
    </div>
    <div class="form-floating mb-3">
      <select class="form-select" [ngClass]="{'is-invalid': updateForm.get('type')?.invalid && (updateForm.get('type')?.touched || updateForm.get('type')?.dirty), 'is-valid': updateForm.get('type')?.valid && (updateForm.get('type')?.touched || updateForm.get('type')?.dirty) }" id="type" name="type" formControlName="type" required>
        <option *ngFor="let type of Types" [value]="type[0]" [label]="type[1]"></option>
      </select>
      <label for="type">Type:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('type')?.hasError('required')">Type is required</div>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control" [ngClass]="{'is-invalid': updateForm.get('googleId')?.invalid && (updateForm.get('googleId')?.touched || updateForm.get('googleId')?.dirty), 'is-valid': updateForm.get('googleId')?.valid && (updateForm.get('googleId')?.touched || updateForm.get('googleId')?.dirty) }" type="text" id="googleId" name="googleId" formControlName="googleId">
      <label for="googleId">GoogleId:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('googleId')?.hasError('minlength')">GoogleId must be at least 4 characters long</div>
    </div>
    <div class="form-floating mb-3">
      <textarea class="form-control" [ngClass]="{'is-invalid': updateForm.get('description')?.invalid && (updateForm.get('description')?.touched || updateForm.get('description')?.dirty), 'is-valid': updateForm.get('description')?.valid && (updateForm.get('description')?.touched || updateForm.get('description')?.dirty) }" id="description" name="description" formControlName="description" style="height:10em" required></textarea>
      <label for="description">Description:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('description')?.hasError('required')">Description is required</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('description')?.hasError('minlength')">Description must be at least 4 characters long</div>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control" [ngClass]="{'is-invalid': updateForm.get('image')?.invalid && (updateForm.get('image')?.touched || updateForm.get('image')?.dirty), 'is-valid': updateForm.get('image')?.valid && (updateForm.get('image')?.touched || updateForm.get('image')?.dirty) }" type="text" id="image" name="image" formControlName="image" required>
      <label for="image">Image url:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('image')?.hasError('required')">Image is required</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('image')?.hasError('minlength')">Image must be at least 4 characters long</div>
    </div>
    <div class="form-floating mb-3" formGroupName="address">
      <input class="form-control" [ngClass]="{'is-invalid': updateForm.get('street')?.invalid && (updateForm.get('street')?.touched || updateForm.get('street')?.dirty), 'is-valid': updateForm.get('street')?.valid && (updateForm.get('street')?.touched || updateForm.get('street')?.dirty) }" type="text" id="street" name="street" formControlName="street" required>
      <label for="street">Street:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('street')?.hasError('required')">Street is required</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('street')?.hasError('minlength')">Street must be at least 1 character long</div>
    </div>
    <div class="form-floating mb-3" formGroupName="address">
      <input class="form-control" [ngClass]="{'is-invalid': updateForm.get('number')?.invalid && (updateForm.get('number')?.touched || updateForm.get('number')?.dirty), 'is-valid': updateForm.get('number')?.valid && (updateForm.get('number')?.touched || updateForm.get('number')?.dirty) }" type="text" id="number" name="number" formControlName="number" required>
      <label for="number">Number:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('number')?.hasError('required')">Number is required</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('number')?.hasError('minlength')">Number must be at least 1 character long</div>
    </div>
    <div class="form-floating mb-3" formGroupName="address">
      <input class="form-control" [ngClass]="{'is-invalid': updateForm.get('extra')?.invalid && (updateForm.get('extra')?.touched || updateForm.get('extra')?.dirty), 'is-valid': updateForm.get('extra')?.valid && (updateForm.get('extra')?.touched || updateForm.get('extra')?.dirty) }" type="text" id="extra" name="extra" formControlName="extra">
      <label for="extra">Extra:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('extra')?.hasError('minlength')">Extra info must be at least 1 character long</div>
    </div>
    <div class="form-floating mb-3" formGroupName="address">
      <input class="form-control" [ngClass]="{'is-invalid': updateForm.get('city')?.invalid && (updateForm.get('city')?.touched || updateForm.get('city')?.dirty), 'is-valid': updateForm.get('city')?.valid && (updateForm.get('city')?.touched || updateForm.get('city')?.dirty) }" type="text" id="city" name="city" formControlName="city" required>
      <label for="city">City:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('city')?.hasError('required')">City is required</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('city')?.hasError('minlength')">City must be at least 2 characters long</div>
    </div>
    <div class="form-floating mb-3" formGroupName="address">
      <input class="form-control" [ngClass]="{'is-invalid': updateForm.get('region')?.invalid && (updateForm.get('region')?.touched || updateForm.get('region')?.dirty), 'is-valid': updateForm.get('region')?.valid && (updateForm.get('region')?.touched || updateForm.get('region')?.dirty) }" type="text" id="region" name="region" formControlName="region" required>
      <label for="region">Region:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('region')?.hasError('required')">Region is required</div>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('region')?.hasError('minlength')">Region must be at least 2 characters long</div>
    </div>
    <div class="form-floating mb-3" formGroupName="address">
      <select class="form-select" [ngClass]="{'is-invalid': updateForm.get('countryIso')?.invalid && (updateForm.get('countryIso')?.touched || updateForm.get('countryIso')?.dirty), 'is-valid': updateForm.get('countryIso')?.valid && (updateForm.get('countryIso')?.touched || updateForm.get('countryIso')?.dirty) }" id="countryIso" name="countryIso" formControlName="countryIso" required>
        <option *ngFor="let country of Countries" [value]="country[0]" [label]="country[1]"></option>
      </select>
      <label for="countryIso">Country:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('countryIso')?.hasError('required')">Country is required</div>
    </div>
    <div class="form-floating mb-3" formGroupName="contact">
      <input class="form-control" [ngClass]="{'is-invalid': updateForm.get('website')?.invalid && (updateForm.get('website')?.touched || updateForm.get('website')?.dirty), 'is-valid': updateForm.get('website')?.valid && (updateForm.get('website')?.touched || updateForm.get('website')?.dirty) }" type="text" id="website" name="website" formControlName="website">
      <label for="website">Website url:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('website')?.hasError('pattern')">Not a valid URL</div>
    </div>
    <div class="form-floating mb-3" formGroupName="contact">
      <input class="form-control" [ngClass]="{'is-invalid': updateForm.get('facebook')?.invalid && (updateForm.get('facebook')?.touched || updateForm.get('facebook')?.dirty), 'is-valid': updateForm.get('facebook')?.valid && (updateForm.get('facebook')?.touched || updateForm.get('facebook')?.dirty) }" type="text" id="facebook" name="facebook" formControlName="facebook">
      <label for="facebook">Facebook url:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('facebook')?.hasError('pattern')">Not a valid URL</div>
    </div>
    <div class="form-floating mb-3" formGroupName="contact">
      <input class="form-control" [ngClass]="{'is-invalid': updateForm.get('instagram')?.invalid && (updateForm.get('instagram')?.touched || updateForm.get('instagram')?.dirty), 'is-valid': updateForm.get('instagram')?.valid && (updateForm.get('instagram')?.touched || updateForm.get('instagram')?.dirty) }" type="text" id="instagram" name="instagram" formControlName="instagram">
      <label for="instagram">Instagram url:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('instagram')?.hasError('pattern')">Not a valid URL</div>
    </div>
    <div class="form-floating mb-3" formGroupName="contact">
      <input class="form-control" [ngClass]="{'is-invalid': updateForm.get('twitter')?.invalid && (updateForm.get('twitter')?.touched || updateForm.get('twitter')?.dirty), 'is-valid': updateForm.get('twitter')?.valid && (updateForm.get('twitter')?.touched || updateForm.get('twitter')?.dirty) }" type="text" id="twitter" name="twitter" formControlName="twitter">
      <label for="twitter">Twitter url:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('twitter')?.hasError('pattern')">Not a valid URL</div>
    </div>
    <div class="form-floating mb-3" formGroupName="contact">
      <input class="form-control" [ngClass]="{'is-invalid': updateForm.get('mail')?.invalid && (updateForm.get('mail')?.touched || updateForm.get('mail')?.dirty), 'is-valid': updateForm.get('mail')?.valid && (updateForm.get('mail')?.touched || updateForm.get('mail')?.dirty) }" type="email" id="mail" name="mail" formControlName="mail">
      <label for="mail">E-mail:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('mail')?.hasError('email')">Not a valid e-mail address</div>
    </div>
    <div class="form-floating mb-3" formGroupName="contact">
      <input class="form-control" [ngClass]="{'is-invalid': updateForm.get('telephone')?.invalid && (updateForm.get('telephone')?.touched || updateForm.get('telephone')?.dirty), 'is-valid': updateForm.get('telephone')?.valid && (updateForm.get('telephone')?.touched || updateForm.get('telephone')?.dirty) }" type="tel" pattern="^[+]?[0-9]{9,20}$" id="telephone" name="telephone" formControlName="telephone">
      <label for="telephone">Telephone:</label>
      <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.get('telephone')?.hasError('pattern')">Not a valid telephone</div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success w-100">Update</button>
    </div>
  </form>
</div>
