<div class="row row-cols-1 row-cols-lg-2 g-3">
  <div class="col">
    <form class="bg-light p-3 p-lg-5 border rounded-3">
      <div class="form-floating">
        <input class="form-control mb-3" type="text" name="search" id="search" [(ngModel)]="search" #inputPlaces>
        <label class="form-label" for="search">Search:</label>
      </div>
      <div class="w-100 border mb-3" style="height: 400px" #divMap>
      </div>
    </form>
  </div>
  <div class="col">
    <form class="bg-light p-3 p-lg-5 border rounded-3" [formGroup]="updateForm" (submit)="update()">
      <div class="form-floating mb-3">
        <input class="form-control" [ngClass]="{'is-invalid': updateForm.controls['name'].invalid && (updateForm.controls['name'].touched || updateForm.controls['name'].dirty), 'is-valid': updateForm.controls['name'].valid && (updateForm.controls['name'].touched || updateForm.controls['name'].dirty) }" type="text" id="name" name="name" formControlName="name" required>
        <label for="name">Name:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['name'].hasError('required')">Name is required</div>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['name'].hasError('minlength')">Name must be at least 2 characters long</div>
      </div>
      <div class="form-floating mb-3">
        <select class="form-select" [ngClass]="{'is-invalid': updateForm.controls['type'].invalid && (updateForm.controls['type'].touched || updateForm.controls['type'].dirty), 'is-valid': updateForm.controls['type'].valid && (updateForm.controls['type'].touched || updateForm.controls['type'].dirty) }" id="type" name="type" formControlName="type" required>
          <option *ngFor="let type of Types" [value]="type[0]" [label]="type[1]"></option>
        </select>
        <label for="type">Type:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['type'].hasError('required')">Type is required</div>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" [ngClass]="{'is-invalid': updateForm.controls['googleId'].invalid && (updateForm.controls['googleId'].touched || updateForm.controls['googleId'].dirty), 'is-valid': updateForm.controls['googleId'].valid && (updateForm.controls['googleId'].touched || updateForm.controls['googleId'].dirty) }" type="text" id="googleId" name="googleId" formControlName="googleId">
        <label for="googleId">GoogleId:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['googleId'].hasError('minlength')">GoogleId must be at least 4 characters long</div>
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" [ngClass]="{'is-invalid': updateForm.controls['description'].invalid && (updateForm.controls['description'].touched || updateForm.controls['description'].dirty), 'is-valid': updateForm.controls['description'].valid && (updateForm.controls['description'].touched || updateForm.controls['description'].dirty) }" id="description" name="description" formControlName="description" style="height:10em" required></textarea>
        <label for="description">Description:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['description'].hasError('required')">Description is required</div>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['description'].hasError('minlength')">Description must be at least 4 characters long</div>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" [ngClass]="{'is-invalid': updateForm.controls['image'].invalid && (updateForm.controls['image'].touched || updateForm.controls['image'].dirty), 'is-valid': updateForm.controls['image'].valid && (updateForm.controls['image'].touched || updateForm.controls['image'].dirty) }" type="text" id="image" name="image" formControlName="image" required>
        <label for="image">Image url:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['image'].hasError('required')">Image is required</div>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['image'].hasError('minlength')">Image must be at least 4 characters long</div>
      </div>
      <div class="form-floating mb-3" formGroupName="address">
        <input class="form-control" [ngClass]="{'is-invalid': updateForm.controls['address'].controls['street'].invalid && (updateForm.controls['address'].controls['street'].touched || updateForm.controls['address'].controls['street'].dirty), 'is-valid': updateForm.controls['address'].controls['street'].valid && (updateForm.controls['address'].controls['street'].touched || updateForm.controls['address'].controls['street'].dirty) }" type="text" id="street" name="street" formControlName="street" required>
        <label for="street">Street:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['address'].controls['street'].hasError('required')">Street is required</div>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['address'].controls['street'].hasError('minlength')">Street must be at least 1 character long</div>
      </div>
      <div class="form-floating mb-3" formGroupName="address">
        <input class="form-control" [ngClass]="{'is-invalid': updateForm.controls['address'].controls['number'].invalid && (updateForm.controls['address'].controls['number'].touched || updateForm.controls['address'].controls['number'].dirty), 'is-valid': updateForm.controls['address'].controls['number'].valid && (updateForm.controls['address'].controls['number'].touched || updateForm.controls['address'].controls['number'].dirty) }" type="text" id="number" name="number" formControlName="number" required>
        <label for="number">Number:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['address'].controls['number'].hasError('required')">Number is required</div>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['address'].controls['number'].hasError('minlength')">Number must be at least 1 character long</div>
      </div>
      <div class="form-floating mb-3" formGroupName="address">
        <input class="form-control" [ngClass]="{'is-invalid': updateForm.controls['address'].controls['extra'].invalid && (updateForm.controls['address'].controls['extra'].touched || updateForm.controls['address'].controls['extra'].dirty), 'is-valid': updateForm.controls['address'].controls['extra'].valid && (updateForm.controls['address'].controls['extra'].touched || updateForm.controls['address'].controls['extra'].dirty) }" type="text" id="extra" name="extra" formControlName="extra">
        <label for="extra">Extra:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['address'].controls['extra'].hasError('minlength')">Extra info must be at least 1 character long</div>
      </div>
      <div class="form-floating mb-3" formGroupName="address">
        <input class="form-control" [ngClass]="{'is-invalid': updateForm.controls['address'].controls['city'].invalid && (updateForm.controls['address'].controls['city'].touched || updateForm.controls['address'].controls['city'].dirty), 'is-valid': updateForm.controls['address'].controls['city'].valid && (updateForm.controls['address'].controls['city'].touched || updateForm.controls['address'].controls['city'].dirty) }" type="text" id="city" name="city" formControlName="city" required>
        <label for="city">City:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['address'].controls['city'].hasError('required')">City is required</div>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['address'].controls['city'].hasError('minlength')">City must be at least 2 characters long</div>
      </div>
      <div class="form-floating mb-3" formGroupName="address">
        <input class="form-control" [ngClass]="{'is-invalid': updateForm.controls['address'].controls['region'].invalid && (updateForm.controls['address'].controls['region'].touched || updateForm.controls['address'].controls['region'].dirty), 'is-valid': updateForm.controls['address'].controls['region'].valid && (updateForm.controls['address'].controls['region'].touched || updateForm.controls['address'].controls['region'].dirty) }" type="text" id="region" name="region" formControlName="region" required>
        <label for="region">Region:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['address'].controls['region'].hasError('required')">Region is required</div>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['address'].controls['region'].hasError('minlength')">Region must be at least 2 characters long</div>
      </div>
      <div class="form-floating mb-3" formGroupName="address">
        <select class="form-select" [ngClass]="{'is-invalid': updateForm.controls['address'].controls['countryIso'].invalid && (updateForm.controls['address'].controls['countryIso'].touched || updateForm.controls['address'].controls['countryIso'].dirty), 'is-valid': updateForm.controls['address'].controls['countryIso'].valid && (updateForm.controls['address'].controls['countryIso'].touched || updateForm.controls['address'].controls['countryIso'].dirty) }" id="countryIso" name="countryIso" formControlName="countryIso" required>
          <option *ngFor="let country of Countries" [value]="country[0]" [label]="country[1]"></option>
        </select>
        <label for="countryIso">Country:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['address'].controls['countryIso'].hasError('required')">Country is required</div>
      </div>
      <div class="form-floating mb-3" formGroupName="contact">
        <input class="form-control" [ngClass]="{'is-invalid': updateForm.controls['contact'].controls['website'].invalid && (updateForm.controls['contact'].controls['website'].touched || updateForm.controls['contact'].controls['website'].dirty), 'is-valid': updateForm.controls['contact'].controls['website'].valid && (updateForm.controls['contact'].controls['website'].touched || updateForm.controls['contact'].controls['website'].dirty) }" type="text" id="website" name="website" formControlName="website">
        <label for="website">Website url:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['contact'].controls['website'].hasError('pattern')">Not a valid URL</div>
      </div>
      <div class="form-floating mb-3" formGroupName="contact">
        <input class="form-control" [ngClass]="{'is-invalid': updateForm.controls['contact'].controls['facebook'].invalid && (updateForm.controls['contact'].controls['facebook'].touched || updateForm.controls['contact'].controls['facebook'].dirty), 'is-valid': updateForm.controls['contact'].controls['facebook'].valid && (updateForm.controls['contact'].controls['facebook'].touched || updateForm.controls['contact'].controls['facebook'].dirty) }" type="text" id="facebook" name="facebook" formControlName="facebook">
        <label for="facebook">Facebook url:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['contact'].controls['facebook'].hasError('pattern')">Not a valid URL</div>
      </div>
      <div class="form-floating mb-3" formGroupName="contact">
        <input class="form-control" [ngClass]="{'is-invalid': updateForm.controls['contact'].controls['instagram'].invalid && (updateForm.controls['contact'].controls['instagram'].touched || updateForm.controls['contact'].controls['instagram'].dirty), 'is-valid': updateForm.controls['contact'].controls['instagram'].valid && (updateForm.controls['contact'].controls['instagram'].touched || updateForm.controls['contact'].controls['instagram'].dirty) }" type="text" id="instagram" name="instagram" formControlName="instagram">
        <label for="instagram">Instagram url:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['contact'].controls['instagram'].hasError('pattern')">Not a valid URL</div>
      </div>
      <div class="form-floating mb-3" formGroupName="contact">
        <input class="form-control" [ngClass]="{'is-invalid': updateForm.controls['contact'].controls['twitter'].invalid && (updateForm.controls['contact'].controls['twitter'].touched || updateForm.controls['contact'].controls['twitter'].dirty), 'is-valid': updateForm.controls['contact'].controls['twitter'].valid && (updateForm.controls['contact'].controls['twitter'].touched || updateForm.controls['contact'].controls['twitter'].dirty) }" type="text" id="twitter" name="twitter" formControlName="twitter">
        <label for="twitter">Twitter url:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['contact'].controls['twitter'].hasError('pattern')">Not a valid URL</div>
      </div>
      <div class="form-floating mb-3" formGroupName="contact">
        <input class="form-control" [ngClass]="{'is-invalid': updateForm.controls['contact'].controls['mail'].invalid && (updateForm.controls['contact'].controls['mail'].touched || updateForm.controls['contact'].controls['mail'].dirty), 'is-valid': updateForm.controls['contact'].controls['mail'].valid && (updateForm.controls['contact'].controls['mail'].touched || updateForm.controls['contact'].controls['mail'].dirty) }" type="email" id="mail" name="mail" formControlName="mail">
        <label for="mail">E-mail:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['contact'].controls['mail'].hasError('email')">Not a valid e-mail address</div>
      </div>
      <div class="form-floating mb-3" formGroupName="contact">
        <input class="form-control" [ngClass]="{'is-invalid': updateForm.controls['contact'].controls['telephone'].invalid && (updateForm.controls['contact'].controls['telephone'].touched || updateForm.controls['contact'].controls['telephone'].dirty), 'is-valid': updateForm.controls['contact'].controls['telephone'].valid && (updateForm.controls['contact'].controls['telephone'].touched || updateForm.controls['contact'].controls['telephone'].dirty) }" type="tel" pattern="^[+]?[0-9]{9,20}$" id="telephone" name="telephone" formControlName="telephone">
        <label for="telephone">Telephone:</label>
        <div class="alert alert-danger p-2 mt-3" *ngIf="updateForm.controls['contact'].controls['telephone'].hasError('pattern')">Not a valid telephone</div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-success w-100">Update</button>
      </div>
    </form>
  </div>
</div>
