/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~flag-icons/css/flag-icons.min.css";
@font-face {
  font-family: Vengeance;
  src: url("assets/fonts/metal_vengeance.ttf");
}
.vengeance {
  font-family: Vengeance;
}
