<div class="col" *ngIf="place">
  <div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{place.image}}" alt="{{place.name}}"/>
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <p>{{place.address.street}} {{place.address.number}}, {{place.address.city}} <span class="fi fi-{{place.address.country.toLowerCase()}}"></span></p>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
          <img class="me-2" height="24" src="/assets/logos/{{place.type.toLowerCase()}}.svg" style="opacity: 60%"/>
          <small class="text-muted">{{place.type}}</small>
        </div>
        <a class="btn btn-sm btn-outline-success" routerLink="/places/{{place.id}}">More Info</a>
      </div>
    </div>
  </div>
</div>
