<div class="row align-items-center justify-content-center pt-4 pt-md-5 my-md-5 border-top">
  <a class="d-flex align-items-center justify-content-center text-dark text-decoration-none" routerLink="/">
    <img height="44" src="assets/logos/horns.svg" alt="Logo"/>
    <span class="fs-2 text-uppercase vengeance align-middle">MTG</span>
  </a>
  <div class="text-center mt-2">
    © 2022 - Metal Travel Guide<br>
    <a routerLink="privacy">Privacy Policy</a> |
    <a routerLink="contact">Contact</a>
  </div>
</div>
